.workoutDetails {
  list-style-type: none;
  background: #fff;
  border-radius: 4px;
  margin: 2rem auto;
  padding: 1rem;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.workoutDetails h4 {
  margin: 0 0 0.7rem 0;
  font-size: 1.2rem;
  color: var(--primary);
}

.workoutDetails p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.workoutDetails span {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
  /* background-color: lightpink; */
  padding: 6px;
  border-radius: 5px;
  color: hotpink;
}

.workoutDetails span:hover,
.workoutDetails span:active {
  color: deeppink;
}

/* .workoutDetails span {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
  background-color: lightpink;
  padding: 6px;
  border-radius: 5px;
  color: #fff;
}

.workoutDetails span:hover,
.workoutDetails span:active {
  background-color: deeppink;
} */